<div class="landing-container">
  <div class="navbar">
    <div class="brand">FameFinds</div>
    <div class="nav-right">
      <div class="dropdown">
        <button class="dropbtn">Login</button>
        <div class="dropdown-content">
          <a routerLink="/login">Login as User</a>
          <a routerLink="/vendorlogin">Login as Vendor</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Register</button>
        <div class="dropdown-content">
          <a routerLink="/register">Register as User</a>
          <a routerLink="/vendorregister">Register as Vendor</a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content">
    <h1><strong>Welcome to FameFinds<br />Experience the Soul of Every City</strong></h1>
    <div class="s-content">
      <h3>Your City's Best at Your FingerTips.</h3>
    </div>
  </div>
</div>


