<div class="landing-container">
  <div class="landing-card">
    <h2>Welcome to</h2>
    <h1><strong>Fame</strong><span class="highlight">Finds</span></h1>

    <div class="dropdown-group">
      <!-- Login Dropdown -->
      <div class="dropdown">
        <button class="dropbtn">Login</button>
        <div class="dropdown-content">
          <a routerLink="/login/user">Login as User</a>
          <a routerLink="/login/vendor">Login as Vendor</a>
        </div>
      </div>

      <!-- Register Dropdown -->
      <div class="dropdown">
        <button class="dropbtn">Register</button>
        <div class="dropdown-content">
          <a routerLink="/register/user">Register as User</a>
          <a routerLink="/register/vendor">Register as Vendor</a>
        </div>
    </div>
  </div>
</div>

