/* Full screen layout */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('/assets/images/otpImg.png');
  background-size: cover;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fefefe;
}

.otp-container {
/*  max-width: 340px;
*/  margin-top: 100px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/assets/images/otpImg.png');
  background-size: cover;
}

h2 {
  margin-top: 230px;
  color: #333;
}

.otp-input {
  width: 60%;
  padding: 20px;
  margin-top: 300px;
  margin-right: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  text-align: center;
}

.verify-button {
  width: 70%;
  padding: 20px;
  border: none;
  margin-top: 40px;
  margin-right: 40px;
  background-color: #397eff;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

  .verify-button:hover {
    background-color: #2f6ce0;
  }
