
<div style="text-align:center;">
  <!--<br />
  <div class="row">
    <div class="col-md-10" style="text-align:right">
      <label>Filter products:</label>
    </div>
    <div class="col-md-2">
      <select class="form-control" #categoryDropdown [(ngModel)]="searchCategory"
              (change)="searchProductByCategory(searchCategory)">
        <option value="0">All Categories</option>
        <option *ngFor="let category of categories" value={{category.categoryId}}>
          {{category.categoryName}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1" style="text-align:revert">
      <label>Search:</label>
    </div>
    <div class="col-md-2">
      <input type="text" placeholder="product name" #searchProduct (keyup)="searchProductName(searchProduct.value)" />

    </div>
  </div>
  <br />-->
 </div>
<!--<div *ngIf="showMessage">
  <h3>No Products found!</h3>
</div>-->
<!--<div *ngIf="showMessage" style="">
  <h4 class="jumbotron" style="text-align:center;">No products available!</h4>
</div>-->


<div class="product-container">
  <h2>Products in {{ cityName }}</h2>
  <br/>
  <br/>

  <div *ngIf="products.length === 0 && showMessage">
    <p>No products found for this city.</p>
  </div>

  <div class="product-scroll" *ngIf="products.length > 0">
    <div *ngFor="let product of products" class="product-card">
      <img [src]="'assets/images/' + product.productName + '.jpg'" alt="{{ product.productName }}" (click)="goToFamousProducts(product.productName)"/>
      <h3>{{ product.productName }}</h3>
      <p>{{ product.description }}</p>
    </div>
  </div>
</div>
