.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  flex-direction: column;
}

.rating-container {
  text-align: center;
  background: #f9f9f9;
  padding: 50px 100px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color:lavender;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-bottom: 10px;
}

.fa {
  margin: 0 4px;
  color: goldenrod;
}

  .fa.checked {
    color: #fbc02d; /* Gold color for checked stars */
  }

.fa-star-o {
  color: #ccc; /* Unfilled stars */
}

.rating-value {
  margin-left: 10px;
  font-size: 16px;
  color: #444;
}

.review-count {
  font-size: 14px;
  color: #777;
}

.no-ratings {
  font-size: 16px;
  color: #888;
  text-align: center;
}
