<div class="register-container">
  <div class="register-box">
    <h2>🛍️ Vendor Registration</h2>

    <form #registerForm="ngForm" (ngSubmit)="registerVendor(registerForm)">
      <label for="vendorName">👤 Full Name</label>
      <input type="text"
             name="fullname"
             placeholder="Full Name"
             [(ngModel)]="vendor.vendorName"
             required />

      <label for="email">📧 Email Address</label>

      <input type="email" [(ngModel)]="vendor.email" id="email" name="email" placeholder="Email Address" (blur)="checkEmailExists()" required email />
      <div *ngIf="emailExists" style="color: red; font-size: 14px; margin-top: 4px;">Email already exists.</div>

      <label for="phone">📞 Phone Number</label>
      <input type="text"
             id="phone"
             name="phoneNumber"
             placeholder="Phone Number"
             [(ngModel)]="vendor.phoneNumber"
             #phoneInput="ngModel"
             (blur)="validatePhoneNumber()"
             maxlength="10"
             required />
      <div *ngIf="phoneError" style="color: red; font-size: 14px; margin-top: 4px;">
        Phone number must be exactly 10 digits.
      </div>


      <label for="passwordHash">🔒 Password</label>
      <input type="password"
             id="password"
             name="password"
             placeholder="Password"
             [(ngModel)]="vendor.passwordHash"
             required
             minlength="6" />

      <button type="submit" [disabled]="registerForm.invalid">🚀 Register</button>
    </form>

    <div class="links">

      <a routerLink="/vendorlogin">Already have an account? <span>Login here</span></a>
    </div>
  </div>
</div>
