html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
/*  /background: url('assets/images/Background.png');*/
  background-size: cover;
}


/* Ensure forms never block scroll */
.shop-form-container {
  max-height: none;
  overflow: visible;
}
