<div style="text-align:center">
  <h1>
    Welcome to FameFindsApp!
    <!--<app-view-products></app-view-products>-->
    <app-view-shops></app-view-shops>
    <!--<app-landing></app-landing>-->
  </h1>
  <!--<app-view-cities></app-view-cities>-->
  <!--<app-update-shop></app-update-shop>-->
  <!--<app-is-open></app-is-open>-->
  <!--<app-remove-shop></app-remove-shop>-->
  <!--<app-add-city></app-add-city>-->
  <!--<app-remove-city></app-remove-city>-->
  <!--<app-add-shops></app-add-shops>-->
</div>
