<div style="text-align:center">
  <h1>
    <!-- Uncomment below lines to manually insert a component directly -->
    <!-- <app-view-products></app-view-products> -->
    <!-- <app-view-shops></app-view-shops> -->
    <!-- <app-landing></app-landing> -->
    <!-- <app-login-vendor></app-login-vendor> -->
    <!-- <app-registration-page></app-registration-page> -->
    <!-- <app-registration-page2></app-registration-page2> -->
    <!-- <app-login></app-login> -->
    <!-- <app-update-shop></app-update-shop> -->
    <!-- <add-shops></add-shops> -->
    <!-- <app-vendor-dashboard></app-vendor-dashboard> -->
    <!-- <app-update-shop-contactnumber></app-update-shop-contactnumber> -->
    <!-- <app-updateshop-name></app-updateshop-name> -->
    <!-- <app-updateshop-email></app-updateshop-email> -->
    <!--<app-show-shopproduct></app-show-shopproduct-->
    <!--<app-update-shopproduct></app-update-shopproduct>-->
    <!--<app-update-shopproductstock></app-update-shopproductstock>-->
    <app-update-shopproductprice></app-update-shopproductprice>
</h1>
</div>

<!--<router-outlet></router-outlet>-->
