    <!--<app-view-products></app-view-products>-->
<!--<app-view-shops></app-view-shops>-->
<!--<app-landing></app-landing>-->
<!--<app-login-vendor></app-login-vendor>-->
<!--<app-registration-page></app-registration-page>-->
<!--<app-registration-page2></app-registration-page2>-->
<!--<app-login></app-login>-->
<!--<app-update-shop></app-update-shop>-->
<!--<add-shops></add-shops>-->
<!--<app-vendor-commonlayout></app-vendor-commonlayout>-->
<!--<app-add-shops></app-add-shops>-->
<router-outlet></router-outlet>
<!--<app-show-shopproduct></app-show-shopproduct>-->
<!--<app-view-vendor-shops></app-view-vendor-shops>-->
<!--<app-add-shop-product></app-add-shop-product>-->
