/*.city-container {
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
}

.city-card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.city-name {
  font-weight: bold;
  font-size: 18px;
}
*/
