.city-container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

  .city-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .city-container input {
    display: block;
    margin: 0 auto 30px;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

.city-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}


.city-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
}

  .city-card:hover {
    transform: translateY(-5px);
  }

  .city-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .city-card h3 {
    margin: 10px 0 5px;
    font-size: 20px;
  }

  .city-card p {
    font-size: 14px;
    color: #666;
    margin: 0 10px;
  }
/*
//header*/

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bde6eb;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  justify-content: flex-end;
}

.dashboard-header h1 {
  margin: 0;
  font-size: 1.8rem;
}

.header-buttons button {
  margin-left: 1rem;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

  .header-buttons button:hover {
    background-color: #2980b9;
  }
